/* Universal Styles */
body{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
  font-family: "Acme";
}

/* Start Menu Styles*/
.start-menu{
  margin-top: 0px;
   text-align: center;
}

.logo {
  height: auto;
  width: 100%;
}

.start-btn {
  margin-top: 20px;
  background-color: #f12f2f;
}

.inst-btn {
  margin-top: 20px;
}


/* Instruction Styles*/
.Instructions {
  display: none;
  margin-top: 60px;
  font-size: 20px;
}

.col-md-7 {
  margin-left: 80px;
}

.start-inst-btn {
  margin-left: 10px;
}


/* Game Styles */
.game{
  display: none;
  margin-top: 60px;
  text-align: center;
}

.atk-btn-row {
  justify-content: center;
  margin: 8px;
}

.atk-btn{
  background-color: #0d9263; 
  border: 1px #d4ce46 solid  
}