/* Universal Styles */
body{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
  font-family: "Acme"
 
}

/* Start Menu styling */
.start-menu{
  margin-top: 60px;
   text-align: center;
}

.logo {
  height: auto;
  width: 100%;
}

.start-btn {
  margin-top: 20px;
  background-color: #f12f2f;
}

.inst-btn {
  margin-top: 20px;
}


/* Instruction Style*/

.Instructions {
  display: none;
  margin-top: 60px;
  
}

